#informacion_personal,
#informacion_laboral,
#metrica_salarial,
#accesos_credenciales {
    border-top: 2px solid #d9d7d7;
}

@media(max-width: 425px) {

    #registro_empleado p,
    #registro_empleado label,
    #registro_empleado input,
    #registro_empleado select,
    #registro_empleado textarea,
    #registro_empleado button {
        font-size: 0.7rem !important;
    }

    #

    #registro_empleado h5 {
        font-size: 1rem !important;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    #registro_empleado p,
    #registro_empleado label,
    #registro_empleado input,
    small,
    #registro_empleado select,
    #registro_empleado textarea,
    #registro_empleado button {
        font-size: 0.85rem !important;
    }

    #registro_empleado h5 {
        font-size: 1.15rem !important;
    }
}