#informacion_personal,
#informacion_laboral,
#metrica_salarial,
#accesos_credenciales {
    border-top: 2px solid #d9d7d7;
}

.container-fluid {
    padding: 0;
}

@media(max-width: 425px) {

    #registro_empleado label {
        height: 43px;
        font-size: 0.7rem !important;
    }

    #registro_empleado input,
    #registro_empleado select,
    #registro_empleado textarea,
    #registro_empleado button {
        font-size: 0.7rem !important;
    }

    #registro_empleado small,
    #registro_empleado #bull {
        font-size: 0.5rem !important;
    }

    #registro_empleado h5 {
        font-size: 1rem !important;
    }

    #punto-rojo {
        padding: 0;
        margin: 0;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }

    #punto-transparente{
        
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    #registro_empleado label {
        height: auto;
        font-size: 0.7rem !important;
    }

    #registro_empleado p,
    #registro_empleado label,
    #registro_empleado input,
    small,
    #registro_empleado select,
    #registro_empleado textarea,
    #registro_empleado button {
        font-size: 0.85rem !important;
    }

    #registro_empleado h5 {
        font-size: 1.15rem !important;
    }

    #punto-rojo {
        padding: 0;
        margin: 0;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
    }
}