/* 🎨 Estilo general del offcanvas */
#menu-izquierdo {
    background-color: rgba(248, 249, 250, 0.8);
}

.offcanvas-header {
    background-color: white !important;
}

#lista-opciones-menu-izquierdo {
    list-style: none;
    padding-left: 1rem;
}

#lista-opciones-menu-izquierdo li {
    margin-top: 0px;
}

#lista-opciones-menu-izquierdo a {
    text-decoration: none;
    color: black;
}

@media (min-width: 425px) {
    #menu-izquierdo {
        width: 220px;
    }
}

@media (min-width: 426px) and (max-width:768px) {
    #menu-izquierdo {
        width: 300px;
    }
}

@media (min-width: 992px) {
    $ {
        width: 500px;
        /* Pantallas grandes */
    }
}