@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

#main {
    background-color: #e5eeff;
}

#barra-navegacion {
    background-color: #1a4ea9;
}

#eslogan {
    color: white;
}

#registro-sesion a {
    text-decoration: none;
    color: white;
    border-radius: 1rem;
}

#registro,
#inicio-sesion {
    border-radius: 1rem;
}



#conocenos h1 {
    color: #1a4ea9;
    font-size: 3.5rem;
    font-weight: bold;
}

#comparativa {
    position: relative;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px #c5d3e0;
}

.icono-superior {
    position: absolute;
    top: -25px;
    /* sobresale por arriba */
    right: -20px;
    /* sobresale por la izquierda */
    z-index: 9999;
}

#comparativa h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#comparativa i {
    color: #00923F !important;
}

#comparativa b {
    color: #1a4ea9;
}

@media(max-width: 320px) {
    body {
        font-size: 0.3rem !;
        color: red;
    }
}