#main {
    background-color: #e5eeff;
}

#barra-navegacion {
    background-color: #1a4ea9;
}

#eslogan {
    color: white;
}

#conocenos h1 {
    color: #1a4ea9;
    font-size: 3.5rem;
    font-weight: bold;
}

#comparativa {
    position: relative;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px #c5d3e0;
}

.icono-superior {
    position: absolute;
    top: -15px;
    /* sobresale por arriba */
    ri: -15px;
    /* sobresale por la izquierda */
    z-index: 9999;
}

#comparativa h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#comparativa i {
    color: #00923F !important;
}

#comparativa b {
    color: #1a4ea9;
}