<style>
    [class^="row"] {
        border: 2px solid red;
    }

    [class^="col"] {
        border: 2px solid blue;
    }

    [class^="container"] {
        border: 2px solid black;
    }
</style>

<header class="container-fluid" class="" id="menu-superior">
    <div class="row bg-primary">
        <!--parte izquierda del menu-superior-->
        <div class="col-3 col-md-2 col-lg-1 d-flex flex-column justify-content-center align-items-center">
            <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#menu-izquierdo">
                <i
                    class="bi bi-caret-right-fill fs-sm-6 fs-md-4 fs-lg-1 text-white d-flex flex-row justify-content-center align-items-center">Menu</i>
            </button>
            <!--aqui va el offcanva-->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="menu-izquierdo">
                <div class="offcanvas-header">
                    <div class="offcanvas-title">
                        <h3>Menu Administrador</h3>
                        <button class="btn" data-bs-dismiss="offcanvas">
                            <i class="bi bi-caret-left-fill fs-3">Cerrar</i>
                        </button>
                    </div>
                </div>
                <div class="offcanvas-body">
                    <div class="row">
                        <div class="col-9 bg-secondary-subtle">
                            <details>
                                <summary>
                                    Empleados
                                </summary>
                                <summary>
                                    productos
                                </summary>
                                <summary>
                                    ventas
                                </summary>
                                <summary>
                                    compras
                                </summary>
                                <summary>
                                    reportes
                                </summary>
                                <summary>
                                    configuracion
                                </summary>
                                <summary>
                                    busqueda rapida
                                </summary>
                                <summary>
                                    salir
                                </summary>
                                <summary>
                                    ayuda
                                </summary>
                            </details>
                            <details>
                                
                            </details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--parte derecha del menu-->
        <div class="col-9 col-md-10 col-lg-11">
            <!--aqui va el contenido-->
        </div>
    </div>
</header>