<style>
    [class^="row"] {
        border: 2px solid red;
    }

    [class^="col"] {
        border: 2px solid blue;
    }

    [class^="container"] {
        border: 2px solid black;
    }
</style>

<div class="container-fluid" class="" id="menu-superior">
    <div class="row bg-primary">
        <!--parte izquierda del menu-->
        <div class="col-3 col-md-2 col-lg-1 d-flex flex-column justify-content-center align-items-center">
            <button class="btn" data-bs-toggle="offcanvas" data-bs-target="">
                <i class="bi bi-menu-app fs-sm-6 fs-md-4 fs-lg-1 text-white d-flex flex-row">Menu</i>
            </button>
            <!--aqui va el offcanva-->
            div.offcanva
        </div>
        <!--parte derecha del menu-->
        <div class="col-9 col-md-10 col-lg-11">
            <!--aqui va el contenido-->
        </div>
    </div>
</div>