<style>
    [class^="row-"] {
        border: 2px solid red;
    }

    [class^="col-"] {
        border: 2px solid blue;
    }

    [class^="container-"] {
        border: 2px solid black;
    }
</style>
<!-- Botón para abrir el menú -->
<button class="btn" data-bs-toggle="offcanvas" data-bs-target="#menuLateral"><!--data-bs-toggle indica que va a ser este elemento y data-bs-target indica el elemento que debe abrir el offcanva-->
    <i class="bi bi-menu-app fs-3 text-primary">Menu</i>
</button>

<!-- Menú Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuLateral"><!--offcanvas es la clase que identifica bootstrap para identificar un elemento animado, offcanvas-start indica que se va a abrir desde la derecha (top, bottom, start, end). tab index -1 hace que sea recorrible con el tabulador-->
    <!--offcanvas-header es el encabezado y permite establecer el titulo del offcanvas y el boton para cerrar-->
    <div class="offcanvas-header">
        <!--titulo del encabezado del offcanvas-->
        <h5 class="offcanvas-title" id="menuLateralLabel">Navegación</h5>
        <!--boton para cerrar el offcanvas-->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button><!--aria bs dismiss lo que hace es cerrar el offcanva-->
    </div>
    <!--offcanvas-body es identificado como el cuerpo de un offcanva y no como el encabezado-->
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Inicio</a></li>
            <li class="list-group-item"><a href="#">Productos</a></li>
            <li class="list-group-item"><a href="#">Inventario</a></li>
            <li class="list-group-item"><a href="#">Configuración</a></li>
        </ul>
    </div>
</div>